* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
.bar {
    display: flex;
    max-width: 2000px;
    background: lightskyblue;
    height: 55px;
    flex-wrap: wrap;
    align-content: center;
    padding: 20px 36px;
  
}

.bar > h3 {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 15;
    line-height: 18px;
    margin: auto;
    color: #FFFFFF;
    
}


.icon{
    width: 40px;
    height: 40px;
    color: white;
    
}

.movie-list{
    
}
.info{
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    padding-left: 100px;
    padding-top: 20px;
}

.movieImage {
    max-width: 300px;
    border-radius: 9px;
    margin-bottom: 9px;
}

.Title{
    font-family: 'Inter';
    font-style: normal;
    font-size: 40px;
    line-height: 30px;
    margin-bottom: -10px;
    padding-bottom: 5px;
    color: #2B283A;
}

.movieInfo{
    margin-left: 70px;
}

.Description{
    width: 100%;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    margin-bottom: 15px;

}
.Year{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 12px;
    letter-spacing: 0.17em;
}
.Director{
    margin-top: 50px;
}